#container {
	margin: 100px;
}

#title {
  margin-bottom: 50px;
}

#fits, #loading {
	width: 500px;
}
#fits {
	border-left: solid 1px lightgray;
  border-right: solid 1px lightgray;
	border-bottom: solid 1px lightgray;
}

.fit-row {
	border-top: solid 1px lightgray;
}

.fit {
	width: 450px;
	padding: 10px;
}
.fit:hover {
	cursor: pointer;
}
.fit.no-img {
	height: 60px;
}
.fit img {
	width: 35px;
	position: relative;
	top: 2px;
}
.fit.with-img span {
	font-size: 18px;
	position: relative;
	bottom: 8px;
	left: 12px;
}
.fit.no-img span {
	font-size: 18px;
	position: relative;
	top: 8px;
	left: 50px;
}

.copy {
	float: right;
	position: relative;
  top: -42px;
  left: -12px;
}
.copy:hover {
	cursor: pointer;
}

.copied {
	float: right;
	position: relative;
  top: -42px;
  left: -12px;
}

#color-mode {
	position: fixed;
	bottom: 50px;
	right: 50px;
	height: 24px;
	width: 24px;
}
#color-mode:hover {
	cursor: pointer;
}
